/* Home page styles */

/* content styles */
.home_text {
	width:595px;
	padding:12px 10px 30px 20px;
    line-height:18px;
    border:none;
   	background:#DBECF3 none;
   	-webkit-border-radius:8px;
   	-moz-border-radius:8px;
   	border-radius:8px;
   	-webkit-box-shadow:1px 1px 4px #999999;
   	-moz-box-shadow:1px 1px 4px #999999;
   	box-shadow:1px 1px 4px #999999;
   	behavior:url(../css/pie.htc);

	}
.home_text .separate {
    height: 0;
    margin: 2px 0 2px;
    padding-top: 2px;
    width: 556px;
}
.home_text .buttons-holder {
    text-align: center;
    }
.home_text .buttons-holder a {
    text-align: center;
    font-size: 19px;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    }
.home_title {
	padding-bottom:5px;
	font-size:2.2em;
	line-height:1.2em;
	font-weight:normal;
    color:#024793;
	}
.home_text .caption {
	display:inline-block;
	padding-bottom:15px;
	font-size:1.8em;
	line-height:1.2em;
	color:#007FB2;
	}
.home_text ul {
	margin:0px 0px 19px 0px;
	padding:0px;
	}
.home_text li {
	list-style:none;
	margin:0px 0px 0px 5px;
	padding:4px 0px 5px 33px;
	font-size:1.8em;
	/*line-height:1.3em;*/
	color:#000000;
	background:url(../images/list_image.png) 0px 8px no-repeat;
	}
.home_text .buttons {
    padding: 8px 15px 0 15px;
	margin-left:4px;
    margin-bottom: 10px;
	}
.content-main-top {
	display: flex;
	justify-content: space-between;
}
.last_news {
	padding: 15px 0;
	position: relative;
	z-index: 0;
	width: 364px;	
	border:none;
	background:#DBECF3 none;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow:1px 1px 4px #999999;
	-moz-box-shadow:1px 1px 4px #999999;
	box-shadow:1px 1px 4px #999999;
	behavior:url(../css/pie.htc);
    /*padding-bottom: 15px;*/
	}
.last_news:not(.first-new) {
	display: flex;
	flex-direction: column;
	height: 320px;
	flex-grow: 1;
}
.last_news-content {
	overflow-y: auto;
	overflow-x: hidden;
}
.content-main-top-news {
	display: flex;
	flex-direction: column
}
.last_news.first-new {
	padding: 7px 0;
	margin-bottom: 15px;
}
.advertise_block {
    float:right;
    position:relative;
    z-index:0;
    width:335px;
    border:none;
    background:#FCE889 none;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    -webkit-box-shadow:1px 1px 4px #999999;
    -moz-box-shadow:1px 1px 4px #999999;
    box-shadow:1px 1px 4px #999999;
    behavior:url(../css/pie.htc);
    padding: 15px 15px 15px 14px;
    margin-bottom: 15px;
    font-size:1.5em;
    line-height:1.2em;
    }
.last_news .block_title {
	padding:12px 0px 14px 14px;
	font-size:18px;
	line-height:1.2em;
	font-weight:bold;
	color:#024793;
	}
.last_news h2 {
	text-align: center;
    font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
	align-self: center;
    background: #024793;
    padding: 5px 15px;
    border-radius: 20px;
}
.last_news h2 a {
	color: #FFF;
}
.last_news .news {
	width:340px;
	padding:0px 12px;
	}
.last_news .thumb {
	display:block;
	float:left;
	width:91px;
	margin-right:10px;
	}
.last_news .thumb img {
	max-width: 100%;
	width: 100%;
	height: auto;
}
.last_news .news_info {
	float:left;
	width:229px;
	font-size:1.5em;
	line-height:1.2em;
	}
.last_news .news_info p{
	padding: 0;
}
.last_news .news_info a {
	text-decoration:underline;
	}
.last_news .news_info a:hover {
	text-decoration:none;
	}
.last_news .date {
	display:block;
	margin-top:-2px;
	padding-bottom:5px;
	color:#999999;
	}
.last_news .separate {
	width:364px;
	height:0px;
    padding-top: 2px;
	margin:22px 0px 24px 0px;
	}
.last_news .show_all {
	padding:7px 14px 7px 0;
	}
.video_list {
	width:1047px;
	margin:17px -15px 15px 0px;
	padding-top: 65px;
    position: relative;
	}
.video_list h3 {
	position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
	font-size: 22px;
	white-space: nowrap;
	background: #024793;
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 20px;
}
.video_list .video {
	float:left;
    width:248px;
	margin: 0 11px 11px 0;
	}
.video_list .video a img{
	border:1px solid #0085BA;
	max-width: 100%;
}
.video_list .video .title {
	display:none;
	position:absolute;
	z-index:1;
	width:228px;
	height:34px;
	margin-top:-44px;
	padding:5px 10px 5px 10px;
	font-size:1.4em;
	line-height:1.2em;
	color:#FFFFFF;
	background:url(../images/transparent.png) top left repeat;
	}
.video_list .video .info {
    padding-top: 7px;
    line-height: 16px;
}
.video_list .video .info a {
    font-family: helvetica;
    font-size: 15px;
    font-weight: bold;
    color: #024793;
}
.video_list .show_all a {
	margin-right:27px;
	margin-top:5px;
	padding-right:10px;
	}
.home_links {
	width:1047px;
	margin-right:-15px;
	}
.home_links .home_link {
	display:inline-block;
	position:relative;
	z-index:0;
	width:320px;
	height:147px;
	margin-right:12px;
	padding:7px;
	border:none;
	background:#FFFFFF none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow:1px 1px 4px #999999;
	-moz-box-shadow:1px 1px 4px #999999;
	box-shadow:1px 1px 4px #999999;
	behavior:url(../css/pie.htc);
	}

/* new styles */
.adv_block {
    position:relative;
    z-index:0;
    margin-bottom:15px;
    border:none;
    /*-webkit-border-radius:8px;*/
    /*-moz-border-radius:8px;*/
    /*border-radius:8px;*/
    -webkit-box-shadow:1px 1px 4px #999999;
    -moz-box-shadow:1px 1px 4px #999999;
    box-shadow:1px 1px 4px #999999;
    behavior:url(../css/pie.htc);
    /*height:260px;*/
    }
.last_news .player_block {
	height: auto;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
#adv_slider div.nivo-slice {
    margin: 0 5px 0 5px;
}

.adv_block img {
    position: relative;
    z-index:0;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    behavior:url(../css/pie.htc);
    }