@media screen and (max-width: 1200px) {
    html,body {
        min-width: auto;
    }
    #slider,#slideshow,.top_block,#header .navigation ul,#content,.video_list,#main_block,.centered,#footer .left_side,.home_text,.caption_align,.home_text .separate,.nivo-caption,#header .lang_block {
        width: auto;
        
    }
    .navigation__toggle_mobile  {
        width: 25px;
        display: block;
        height: 25px;
        position: fixed;
        right: 20px;
        top: 12px;
        background: transparent url(../images/line-menu.svg) center no-repeat;
        z-index: 98;
        border: none;
    }
    .navigation__hide_mobile  {
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 12px;
        top: 10px;
        background: transparent;
        border: none;
        z-index: 98;
    }
    .navigation__hide_mobile:before,
    .navigation__hide_mobile:after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        width: 3px;
        border-radius: 3px;
        height: 100%;
        background: #FFF;
    }
    .navigation__hide_mobile:before {
        transform: rotate(45deg)
    }
    .navigation__hide_mobile:after {
        transform: rotate(-45deg)
    }
    #header {
        height: auto;
    }
    #header .navigation {
        width: 320px;
        height: auto;
        margin: 0;
        z-index: 99;
        position: fixed;
        right: -100%;
        top: 0;
        height: 100vh;
        overflow: auto;
        background: #0177B6;
        transition: 0.3s;
    }
    #header .navigation.active {
        right: 0;
    }
    #header .navigation ul{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        background: none;
        border: none;
        border-radius: none;
    }
    #header .navigation ul li{
        background: none;
    }
    #header .navigation li a {
        border-bottom: 1px solid #FFF;
        margin-left: 0;
    }
    #header .navigation ul li.current{
        background: none;
    }
    #header .lang_block {
        margin: 0;
        right: 50px;
    }    
    .nivo-caption {
        height: auto;
    }
    #content {
        max-width: 86%;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home_text {
     margin-bottom: 20px;   
    }    
    .last_news {
        float: none;
    }
    #content .last_news.first-new {
        margin-right: auto;
    }
    .video_list {
        margin: 17px 0;
        display: flex;
        flex-wrap: wrap;
    }
    .video_list .video {
        float: none;
        flex: 0 0 33.333333%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video_list .video .info {
        padding: 10px 30px;
    }
    .video_list .video .info a{
        text-align: center;
        display: inline-block;
    }
    .video_list .clear_both {
        display: none;
    }
    .show_all {
        width: 100%
    }
    #main_block {
        padding-bottom: 0;
    }
    #footer {
        margin-top: 0;
        height: auto;
        padding: 0 20px;
        padding-top: 28px;
        box-sizing: border-box;
    }
    
}
@media screen and (max-width: 990px) {
    .video_list .video {
        flex: 0 0 50%;
    }
    .last_news.first-new {
        order: -1;   
    }
    .last_news {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 767px) {
    .video_list .video {
        flex: 0 0 100%;
    }    
}
@media screen and (max-width: 576px) {
    #content {
        max-width: 100%;
    }
    #header {
        position: fixed;
        z-index: 100;
        top: 0;
    }
    .header__title_mobile {
        display: block;
        padding: 10px 0;
        padding-left: 60px;
        text-align: left;
        color: #EBC54C
    }
    .adv_block {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .last_news .player_block {
        width: 100%;
    }
    .vjs_video_3-dimensions {
        width: 100%;
    }
    .home_text {
        border-radius: 0;
        margin-top: 270px;
    }
    .last_news {
        border-radius: 0;
    }
    .nivo-caption p {
        font-size: 16px;
        line-height: 18px;
        text-shadow: 1px 1px 2px black;
    }
    .home_text .buttons {        
        padding: 8px 5px;
        height: auto;
    }
    .home_text .buttons-holder a {
        font-size: 14px;
        margin-left: 0;
    }  
    .last_news.first-new {
        position: fixed;
        top: 50px;
        width: 100%;
    }  
    .last_news.first-new .player_header {
        display: none;
    }
    .last_news.first-new .news {
        display: none;
    }
    #slideshow, .top_block {
        display: none;
    }
    .video_list {
        background: #DBECF3 none;
        padding: 10px 0;
        margin: 0;
        margin-bottom: 10px;
    }
    .video_list .video {
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .video_list .video img {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 479px) {
    .vjs_video_3-dimensions {
        margin: 0 auto;
    }
    .last_news {
        width: auto;
        padding-bottom: 15px;
    }
    .last_news .player_block {
        width: auto;
    }
    .last_news .news {
        width: auto;
    }
    .last_news .separate {
        width: 100%;
    }
    .last_news .thumb {
        height: auto;
    }
    .last_news .news_info {
        margin-top: 10px;
    }
}