/* Order popup styles */

#order .form_background {
	position:relative;
	z-index:0;
	width:390px;
	min-height:310px;
	padding:20px 0px;
	text-align:center;
	border:none;
	background:#F5F5F5 none;
	-webkit-border-radius:232px;
	-moz-border-radius:23px;
	border-radius:23px;
	behavior:url(../css/pie.htc);
	}
#order .inputs {
	outline:none;
	width:327px;
	height:32px;
	margin:0px 0px 15px 0px;
	padding:2px 10px;
	font-size:1.8em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	line-height:32px\0/;
	color:#333333;
	text-align:left;
	border:1px solid #CCCCCC;
	background:#FFFFFF none;
	}
#order .inputs.address_input {
    height:46px;
    resize: none;
    }
#order select.inputs {
    width:239px;
    height:38px;
    }
#order .inputs.number_input {
    float: left;
    width:50px;
    }
#order textarea.inputs {
	resize:none;
	height:67px;
	}
#order .error {
	border:1px solid #FF0000;
	}
#order .submit {
	cursor:pointer;
	width:auto;
	height:41px;
	margin-top:5px;
	padding:4px 15px 0px 15px;
	}
#order_block {
    display: none;
    }
.product_image {
    width: 90px;
    height: 90px;
    float: right;
    margin-right: 20px;
    }
.number_label {
    font-size: 2em;
    height:32px;
    display: inline-block;
    padding:13px 5px 0 20px;
    vertical-align: top;
    float: left;
    }

.product_name {
    color: #024793;
}